@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Gaegu&family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap");

.App {
  padding: 20px;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Gaegu", cursive;
  font-family: "Montserrat", sans-serif;
}
